body {
    background-color: #F2EFE7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#userInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 650px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 15px;
}

#name,
#location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pie {
    margin-bottom: 15px;
    background-color: white;
    width: 650px;
}

#line {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 650px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#typeInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    width: 90%;
    border-radius: 5px;
    font-size: 20px;
}

#lineGraph {
    background-color: #0052B4;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 600px;
}

#textXP {}

.ratio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding-top: 5px;

}

.value {
    margin-top: 10px;
}

#passfail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 650px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

#moduleInfo {
    background-color: #FFFFFF;
    width: 650px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;

}

.ratio span {
    font-weight: bold;
}


.stats-table {

    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
    margin-top: 20px;

}

.stats-table th,
.stats-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.stats-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

.stats-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.stats-table tr:hover {
    background-color: #f1f1f1;
}

.stats-table td {
    text-align: center;
}

:root {
    --text: black;
    --backgroundDuv: #383838;
    --blue: #0052B4;
    --purple: #9969ff
}

.Btn {
    text-decoration: underline;
    cursor: pointer;
    fill: var(--blue);
}

.Btn:hover {
    fill: var(--text)
}

.shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#logout {
    height: 32px;
    width: 32px;
    position: absolute;
    background-image: url("../icons/logout.svg");
    background-size: cover;
    right: 30px;
    cursor: pointer;
}

#logout:hover {
    height: 35px;
    width: 35px;
}



#type {
    margin: 5px;
    text-align: center;
    width: 30%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: #e6f1fd;
    color: var(--text);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#type::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#type:hover {
    border-color: var(--text);
    font-size: 18px;
}



#type option {
    background-color: #fff;
    color: #333;
    padding: 10px;
}


#border {
    width: 150px;
    height: 150px;
    border: solid 2px white;
    border: conic-gradient(white 0% 50%, transparent 50% 100%);
    border-radius: 50%;
}


@media (max-width: 700px) {
    #logout {
        position: static;
    }

    #passfail,
    #moduleInfo,
    #line,
    #pie,
    #userInfo {
        width: 95%;
        font-size: 2.5vw;
    }

    #passfail {
        display: block;
        justify-content: start;
    }

    #lineGraph {
        width: 95%;
    }

    .stats-table {
        font-size: 2.5vw;
    }
}